<div class="details-box" style="{{#if borderColor}}border-left-color: {{borderColor}};{{/if}} {{#if backgroundColor}}background-color: {{backgroundColor}};{{/if}}">
  {{#if title}}
  <h3>{{title}}</h3>
  {{/if}}
  {{{content}}}
</div>
